.App {
  background-color: #f5f5f5;
  font-style: bold;
  text-align: center;
  font-family: "Boogaloo";
}

#header,
#navbar,
.pageContainer,
#footer {
  margin: 0 auto;
  max-width: 80vw;
  min-width: 500px;
  background-color: #e4673f;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header {
  background-color: #6edcc4;
  min-height: 90px;
  font-size: clamp(40px, 13vw, 70px);
  color: #2c2c2c;
}

#navbar {
  background-color: #2c2c2c;
  color: #f5f5f5;
  min-height: 30px;
  flex-direction: row;
  position: relative;
}