.App {
  background-color: #4286ba;
  font-style: bold;
  text-align: center;
  font-family: "Boogaloo";
}



.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgb(79, 147, 190);
}

.nav-link {
  margin: 0 10px;
  text-decoration: none;
  color: white;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  transition: color 0.2s ease-in-out;
  padding: 8px 12px;
  border: 2px solid white;
  border-radius: 20px;
}

.nav-link:hover {
  color: darkgreen;
  background-color: white;
}


/* Styling for About Me Component */

.about-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px;
  height: 100vh;
}

.card {
  background-color: #7c77d4;
  border-radius: 0px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 5px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
}



.about-page h3 {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 20px;
}
